@import "_vars";

.modal-header {
  background-image: linear-gradient(75deg, $colorPrincipal 0%, $colorSecundario 100%);
}

.modal-body {
  background-image: linear-gradient(100deg, $colorPrincipal 0%, $colorSecundario 100%);
}

.modal-footer {
  background-image: linear-gradient(75deg, $colorPrincipal 0%, $colorSecundario 100%);
}

input,
select {
  background-color: aliceblue !important;
}

label {
  font-weight: 600;
}

#btnGuardar {
  background-image: linear-gradient(0deg, $colorPrincipal 0%, $colorSecundario 100%);
}