* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

$colorPrincipal :#D9AFD9;
$colorSecundario :#97D9E1;

html,
body {
    // width: 100vw;
    height: 100%;
}

body {
    // background-color: $colorPrincipal !important;
    background-image: linear-gradient(0deg, $colorPrincipal 0%, $colorSecundario 100%);
    background-size: cover;
    margin: 25px 0 25px 0;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25px 0 50px 0;
    img {
        height: 100vh;
        // width: 100vw;
    }
}

.formTeiner {
    display: flex;
    justify-content: center;
    margin: 25px 0 50px 0;
}


main {
    font-size: medium;
    margin: 25px 0 25px 0;
    // display: flex;
    // justify-content: center;

    h1 {
        width: 100%;
        margin-bottom: 25px;
    }
}