* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

$colorPrincipal :#D9AFD9;
$colorSecundario :#97D9E1;

html {
    width: auto;
    height: 100vh;
}


body {
    // background-color: $colorPrincipal !important;
    background-image: linear-gradient(0deg, $colorPrincipal 0%, $colorSecundario 100%);
    background-attachment: fixed;
    margin: 25px 0 15px 0;
    height: 100vh;

    header {
        margin-top: 15px;
    }
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;

    img {
        width: auto;
        border-radius: 15px;
        box-shadow: 2px 2px 5px black, 2px 2px 5px black, 3px 3px 15px white !important;
    }
}

.formTeiner {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 25px 0 50px 0;
}


main {
    font-size: medium;
    margin: 25px 0 25px 0;
    // display: flex;
    // justify-content: center;

    h1 {
        width: 100%;
        margin-bottom: 25px;
    }
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
}

// @media screen and (min-width: 1200px) {

//     //css code
//     .portrait {
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         margin: 25px 0 50px 0;

//         img {
//             // height: 100vh;
//             width: 45%;
//             box-shadow: 2px 2px 5px black, 2px 2px 5px black, 3px 3px 15px white !important;
//         }
//     }

//     body {
//         header {
//             margin-top: 50px;
//             // display: flex;
//             // position: fixed;
//         }

//     }

//     footer {
//         display: flex;
//         position: fixed;
//         bottom: 0;
//         justify-content: center;
//         // align-items: center;
//         // align-content: center;
//     }
// }